<div class="row mb-3">
  <div class="col-12 col-md-6">
      <div class="custom-control custom-checkbox ">
          <input class="custom-control-input" id="customControlValidation1" [(ngModel)]="this.formService.editModeEnabled" type="checkbox">
          <label class="custom-control-label" for="customControlValidation1"><strong>Edit Mode</strong></label>
        </div>
  </div>
  <div class="col-12 col-md-6">
      <div class="custom-control custom-checkbox ">
          <input class="custom-control-input" id="customControlValidation2" [(ngModel)]="this.formService.isHorizontalMode" type="checkbox">
          <label class="custom-control-label" for="customControlValidation2"><strong>Horizontal Style</strong></label>
        </div>
  </div>
</div>