<ng-container [formGroup]="group">
  <mat-checkbox [color]="field.color" [formControlName]="field.name">
    {{field.placeholder}}
  </mat-checkbox>
  <div class="mat-form-field-appearance-outline">
    <div class="mat-form-field-subscript-wrapper">
      <mat-error
        *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
        <ng-container *ngFor="let item of field.validations;">
          <div *ngIf="group.get(field.name)?.hasError(item.name)">
            {{item.message}}
          </div>
        </ng-container>
      </mat-error>
    </div>
  </div>
</ng-container>