<form [formGroup]="this.formCreateService.getFormGroup()" (submit)="OnSubmit($event)">

<pre dir="ltr" style="text-align: left;">{{this.formCreateService.getFormGroup().value | json}}</pre>

    <app-basic-reactive-fields [formGroup]="this.formCreateService.getFormGroup()" [isHorizontalForm]="false"
        [editMode]="false" [formItem]="this.formCreateService.getFormItem()"></app-basic-reactive-fields>

    <div>
        <button type="submit" class="btn btn-success mr-2"
            [disabled]="this.formCreateService.getFormGroup().invalid">Save</button>
        <button type="submit" class="btn btn-info mr-2">View</button>
        <button type="submit" class="btn btn-danger mr-2">Delete</button>
    </div>
</form>