<form [formGroup]="formGroup" (submit)="OnSubmit($event)">

    <app-basic-reactive-fields [formGroup]="formGroup" [isHorizontalForm]="false"
        [editMode]="false" [formItem]="this.formCreateService.getFormItem()"></app-basic-reactive-fields>

    <div>
        <button type="submit" class="btn btn-success mr-2"
            [disabled]="formGroup.invalid">ذخیره فرم</button>
        <button type="submit" class="btn btn-info mr-2">نمایش فرم</button>
        <button type="submit" class="btn btn-danger mr-2">حذف فرم</button>
    </div>
    
</form>