<div class="btn-group">
  <a class="btn text-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <fa-icon [icon]="faCog"></fa-icon>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <a data-toggle="tooltip" data-placement="bottom" title="Delete" class="float-right text-danger mx-2 my-1"
      (click)="DeleteField()">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </a>
    <a type="button" data-toggle="tooltip" data-placement="bottom" title="Edit"
      class="float-right text-primary mx-2 my-1" (click)="EditField()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </a>
    <a *ngIf="changeViewListEnabled" type="button" data-toggle="tooltip" data-placement="bottom" title="Change View"
      class="float-right text-dark mx-2 my-1" (click)="ChangeListView()">
      <fa-icon *ngIf="isInline" [icon]="faEllipsisVertical"></fa-icon>
      <fa-icon *ngIf="!isInline" [icon]="faEllipsisHorizontal"></fa-icon>
    </a>
    <a *ngIf="!IsFirstItem()" type="button" data-toggle="tooltip" data-placement="bottom" title="Move Previous"
      class="float-right text-secondary mx-2 my-1" (click)="MoveUp()">
      <fa-icon [icon]="faAngleUp"></fa-icon>
    </a>
    <a *ngIf="!IsLastItem()" type="button" data-toggle="tooltip" data-placement="bottom" title="Move Next"
      class="float-right text-secondary mx-2 my-1" (click)="MoveDown()">
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </a>
    <ng-container *ngIf="!formService.isHorizontalMode">
      <a *ngIf="!IsMaximumWidth()" type="button" data-toggle="tooltip" data-placement="bottom" title="Increase Width"
        class="float-right text-secondary mx-2 my-1" (click)="IncreaseWidth()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <a *ngIf="!IsMinimumWidth()" type="button" data-toggle="tooltip" data-placement="bottom" title="Decrease Width"
        class="float-right text-secondary mx-2 my-1" (click)="DecreaseWidth()">
        <fa-icon [icon]="faMinus"></fa-icon>
      </a>
    </ng-container>
  </div>
</div>