<button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="DeleteField()">
    <fa-icon [icon]="faTrashAlt" [classes]="['mr-2']"></fa-icon>
    <span>حذف</span>
  </button>
  <button mat-menu-item  (click)="EditField()">
    <fa-icon [icon]="faEdit" [classes]="['mr-2']"></fa-icon>
    <span>ویرایش</span>
  </button>
  <button mat-menu-item (click)="ChangeListView()">
    <fa-icon *ngIf="isInline" [icon]="faEllipsisVertical" [classes]="['mr-2']"></fa-icon>
    <span *ngIf="isInline">چیدمان عمودی</span>

    <fa-icon *ngIf="!isInline" [icon]="faEllipsisHorizontal" [classes]="['mr-2']"></fa-icon>
    <span *ngIf="!isInline">چیدمان افقی</span>
  </button>
  <button *ngIf="!IsFirstItem()" mat-menu-item  (click)="MoveUp()">
    <fa-icon [icon]="faAngleUp" [classes]="['mr-2']"></fa-icon>
    <span>جابجایی به قبل</span>
  </button>
  <button *ngIf="!IsLastItem()" mat-menu-item  (click)="MoveDown()">
    <fa-icon [icon]="faAngleDown" [classes]="['mr-2']"></fa-icon>
    <span>جابجایی به بعد</span>
  </button>
  <button *ngIf="!formService.isHorizontalModeEnabled && !isMaximumWidth()" mat-menu-item  (click)="IncreaseWidth()">
    <fa-icon [icon]="faPlus" [classes]="['mr-2']"></fa-icon>
    <span>افزایش عرض</span>
  </button>
  <button *ngIf="!formService.isHorizontalModeEnabled && !isMinimumWidth()" mat-menu-item  (click)="DecreaseWidth()">
    <fa-icon [icon]="faMinus" [classes]="['mr-2']"></fa-icon>
    <span>کاهش عرض</span>
  </button>
</mat-menu>