.fa-vxs {
    font-size: 0.50em !important;
}

.edit-mode {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
     0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.edit-mode:hover {
    background-color: #f8f9fa;
    transition: all 0.3;
}

.col-form-label {
    width: 100%;
}