<div [ngClass]="{'form-row':!isHorizontalForm}">
  <ng-container *ngFor="let item of formItem?.fieldItems">
    <div class="p-2 {{this.formService.getColumnClass(formItem,item)}}"
      [ngClass]="{'edit-mode': editMode}">
      <div class="form-group" [ngClass]="{'row': isHorizontalForm}">
        <label *ngIf="item.label" class="col-form-label" [ngClass]="{'col-md-4': isHorizontalForm}">
          <strong>{{ item.label }}</strong>
          <app-manage-control *ngIf="editMode && isHorizontalForm" [field]="item"></app-manage-control>
        </label>
        <app-manage-control *ngIf="editMode && !isHorizontalForm" [field]="item"></app-manage-control>
        <div class="reactive-field-{{item.type}}" [ngClass]="{'col-md-8': isHorizontalForm}">
          <ng-container reactive-field [group]="formGroup" [field]="item"></ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>