.dropdown-menu {
    width: max-content !important;
}

.menu-button {
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown-toggle::after {
    content: none;
}

.rtl .dropdown-menu, [dir=rtl] .dropdown-menu {
    right: auto !important;
}