<ng-container [formGroup]="group">
  <div class="w-100">
    <mat-slider class="d-block w-100" thumbLabel [displayWith]="field.displayFormat" min="{{field.minValue}}" max="{{field.maxValue}}"
    [formControlName]="field.name"></mat-slider>
  </div>
  <div *ngIf="field.hint" class="mat-form-field-subscript-wrapper">
    <div class="mat-hint">
      <strong>{{field.hint}}</strong>
    </div>
  </div>
  <div *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)"
    class="invalid-feedback">
    {{field.value}}
    <ng-container *ngFor="let item of field.validations;">
      <div *ngIf="group.get(field.name)?.hasError(item.name)">
        {{item.message}}
      </div>
    </ng-container>
  </div>
</ng-container>