<ng-container *ngIf="!horizontalMode">
  <div class="form-group" [formGroup]="group">
    <label class="col-form-label"><strong>{{ field.label }} :</strong></label>
    <app-manage-control *ngIf="editable" [field]="field"></app-manage-control>
    <input class="custom-range" (input)="field.value" type="range" min="{{field.minValue}}" [ngClass]="getValidClass()" max="{{field.maxValue}}" [formControlName]="field.name" >
    <div *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)"
    class="invalid-feedback">
    {{field.value}}
    <ng-container *ngFor="let item of field.validations;">
      <div *ngIf="group.get(field.name)?.hasError(item.name)">
        {{item.message}}
      </div>
    </ng-container>
  </div>
  </div>
</ng-container>

<ng-container *ngIf="horizontalMode">
  <div class="form-group row p-2" [formGroup]="group">
    <label class="col-md-4 col-form-label">
      <strong>{{ field.label }} :</strong>
      <app-manage-control *ngIf="editable" [field]="field"></app-manage-control>
    </label>
    <div class="col-md-8">
      <input class="custom-range" type="range" (input)="field.value" [ngClass]="getValidClass()" min="{{field.minValue}}" max="{{field.maxValue}}" [formControlName]="field.name" >
      <div *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)"
      class="invalid-feedback">
      {{field.value}}
      <ng-container *ngFor="let item of field.validations;">
        <div *ngIf="group.get(field.name)?.hasError(item.name)">
          {{item.message}}
        </div>
      </ng-container>
    </div>
    </div>
  </div>
</ng-container>