<ng-container [formGroup]="group">
  <mat-form-field class="w-100" appearance="outline" [floatLabel]="'always'">
    <input matInput [formControlName]="field.name" [type]="field.inputType" [autocomplete]="field.autocomplete"
      [placeholder]="field.placeholder" [pattern]="field.pattern" [min]="field.minValue"
      [max]="field.maxValue">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-hint *ngIf="field.hint" align="start"><strong>{{field.hint}}</strong> </mat-hint>
    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
    <mat-error
      *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
      <ng-container *ngFor="let item of field.validations;">
        <div *ngIf="group.get(field.name)?.hasError(item.name)">
          {{item.message}}
        </div>
      </ng-container>
    </mat-error>
  </mat-form-field>
</ng-container>