<ng-container *ngIf="!horizontalMode">
  <div class="form-group" [formGroup]="group">
    <label *ngIf="field.label" class="col-form-label d-block"><strong>{{ field.label }}</strong></label>
    <app-manage-control *ngIf="editable" [field]="field"></app-manage-control>
    <mat-checkbox class="example-margin" [formControlName]="field.name">
      {{field.placeholder}}
    </mat-checkbox>
    <div class="mat-form-field-appearance-outline">
      <div class="mat-form-field-subscript-wrapper">
        <mat-error
          *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
          <ng-container *ngFor="let item of field.validations;">
            <div *ngIf="group.get(field.name)?.hasError(item.name)">
              {{item.message}}
            </div>
          </ng-container>
        </mat-error>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="horizontalMode">
  <div class="form-group row p-2" [formGroup]="group">
    <label *ngIf="field.label" class="col-md-4 col-form-label ">
      <strong>{{ field.label }}</strong>
      <app-manage-control *ngIf="editable" [field]="field"></app-manage-control>
    </label>
    <div class="col-md-8">
      <mat-checkbox class="example-margin" [formControlName]="field.name">
        {{field.placeholder}}
      </mat-checkbox>
      <div class="mat-form-field-appearance-outline">
        <div class="mat-form-field-subscript-wrapper">
          <mat-error
            *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
            <ng-container *ngFor="let item of field.validations;">
              <div *ngIf="group.get(field.name)?.hasError(item.name)">
                {{item.message}}
              </div>
            </ng-container>
          </mat-error>
        </div>
      </div>
    </div>
  </div>
</ng-container>