<mat-card-title *ngIf="!isLoading && !hasError">{{formName}}</mat-card-title>
<app-loading *ngIf="isLoading"></app-loading>

<app-notification *ngIf="!isLoading && hasError" [message]="errrorMessage"></app-notification>

<form *ngIf="!isLoading && !hasError" [formGroup]="this.formService.formGroup"
  (submit)="OnSubmit(this.formService.formItem)">

  <!-- <app-main-panel-manage-form *ngIf="this.formService.editModeEnabled"></app-main-panel-manage-form> -->

  <app-basic-reactive-fields [formGroup]="this.formService.formGroup"
    [isHorizontalForm]="this.formService.isHorizontalModeEnabled" [editMode]="this.formService.isEditModeEnabled"
    [formItem]="this.formItem">
  </app-basic-reactive-fields>

  <div class="form-row p-2">
    <button mat-flat-button [disabled]="this.formService.formGroup.invalid" color="primary">Save</button>
  </div>

</form>