<ng-container *ngIf="!horizontalMode">
  <div class="form-group" [formGroup]="group">
    <label class="col-form-label">
      <strong>{{field.label}}:</strong>
    </label>
    <app-manage-control *ngIf="editable" [field]="field" [changeViewListEnabled]="true"></app-manage-control>
    <div ngbRadioGroup [formControlName]="field.name">
      <ng-container *ngFor="let item of field.options">
        <div class="px-1" [ngClass]="{'d-inline' : field.isInlineRadio}">
          <label ngbButtonLabel class="btn-radio"  (click)="onClickBtn(item)">
            <input ngbButton type="radio" class="d-none" [value]="item.id">
            <fa-icon *ngIf="item.isActive" [icon]="faCheck"></fa-icon>
            <fa-icon *ngIf="!item.isActive" [icon]="faMinus"></fa-icon>
            {{item.value}}
          </label>
        </div>
      </ng-container>
    </div>
    <div *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)"
      class="invalid-feedback">
      <ng-container *ngFor="let item of field.validations;">
        <div *ngIf="group.get(field.name)?.hasError(item.name)">
          {{item.message}}
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="horizontalMode">
  <div class="form-group row p-2" [formGroup]="group">
    <label class="col-md-4 col-form-label">
      <strong>{{field.label}}:</strong>
      <app-manage-control *ngIf="editable" [field]="field" [changeViewListEnabled]="true"></app-manage-control>
    </label>
    <div class="col-md-8">
      <div ngbRadioGroup [formControlName]="field.name">
        <ng-container *ngFor="let item of field.options">
          <div class="px-1" [ngClass]="{'d-inline' : field.isInlineRadio}">
            <label ngbButtonLabel class="btn-radio" (click)="onClickBtn(item)">
              <input ngbButton type="radio" class="d-none" [value]="item.id">
              <fa-icon *ngIf="item.isActive" [icon]="faCheck"></fa-icon>
              <fa-icon *ngIf="!item.isActive" [icon]="faMinus"></fa-icon>
              {{item.value}}
            </label>
          </div>
        </ng-container>
      </div>
      <div *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)"
        class="invalid-feedback">
        <ng-container *ngFor="let item of field.validations;">
          <div *ngIf="group.get(field.name)?.hasError(item.name)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>