<ng-container [formGroup]="group">
  <div class="row">
    <div [ngClass]="{'col-12 mb-1':!field.inlineView,'col':field.inlineView}">
      <mat-form-field class="w-100" appearance="outline" [floatLabel]="'always'">
        <input matInput [max]="toDate" [matDatepicker]="picker" [required]="field.required"
          placeholder="{{field.placeholder}}" (dateChange)="OnFromDateSelected($event)">
        <span class="perfix text-primary" matPrefix>From Date</span>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
          <ng-container *ngFor="let item of field.validations;">
            <div *ngIf="group.get(field.name)?.hasError(item.name)">
              {{item.message}}
            </div>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <div [ngClass]="{'col-12':!field.inlineView,'col':field.inlineView}">
      <mat-form-field class="w-100" appearance="outline" [floatLabel]="'always'">
        <input matInput [min]="fromDate" [matDatepicker]="picker2" placeholder="{{field.placeholder}}"
          (dateChange)="OnEndDateSelected($event)">
        <span class="perfix text-primary" matPrefix>To Date</span>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error
          *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
          <ng-container *ngFor="let item of field.validations;">
            <div *ngIf="group.get(field.name)?.hasError(item.name)">
              {{item.message}}
            </div>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-container>