<ng-container [formGroup]="group">
  <mat-form-field class="w-100" appearance="outline" [floatLabel]="'always'">
    <input matInput value="" [satDatepicker]="picker" placeholder="{{field.placeholder}}"
      [formControlName]="field.name">
    <sat-datepicker #picker [rangeMode]="true" [rangeHoverEffect]="true"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    <mat-error
    *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
    <ng-container *ngFor="let item of field.validations;">
      <div *ngIf="group.get(field.name)?.hasError(item.name)">
        {{item.message}}
      </div>
    </ng-container>
  </mat-error>
  </mat-form-field>
</ng-container>