<ng-container [formGroup]="group">
    <mat-form-field class="w-100" appearance="outline" [floatLabel]="'always'">
        <textarea matInput [formControlName]="field.name" [type]="field.inputType" [readOnly]="field.readonly"
            [placeholder]="field.placeholder" [pattern]="field.pattern"></textarea>
        <mat-error
            *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
            <ng-container *ngFor="let item of field.validations;">
                <div *ngIf="group.get(field.name)?.hasError(item.name)">
                    {{item.message}}
                </div>
            </ng-container>
        </mat-error>
    </mat-form-field>
</ng-container>