<ng-container [formGroup]="group">

  <mat-form-field class="w-100" appearance="outline" [floatLabel]="'always'">
    <ngx-mat-file-input #uploadInput (ngModelChange)="modelChanged($event)" [formControlName]="field.name" [placeholder]="field.placeholder">
    </ngx-mat-file-input>
    <button mat-icon-button matSuffix *ngIf="!uploadInput.empty" (click)="uploadInput.clear($event)">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-icon *ngIf="uploadInput" matSuffix >folder</mat-icon>
    <mat-error *ngIf="group.get(field.name).invalid && (group.get(field.name).dirty || group.get(field.name).touched)">
      <ng-container *ngFor="let item of field.validations;">
        <div *ngIf="group.get(field.name)?.hasError(item.name)">
          {{item.message}}
        </div>
      </ng-container>
    </mat-error>
  </mat-form-field>
</ng-container>