[dir=rtl] .mat-form-field {
    text-align: right;
 }

* :not(.material-icons) {
    font-family: IRANYekan !important;
    /* font-size: small; */
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.75em 0 !important;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.form-group {
    margin-bottom: 0; 
}

.custom-input {
    opacity: 0 !important;
}

.mat-bottom-sheet-custom-container-medium {
    min-width: 384px !important;
    max-width: 384px !important;
    overflow: inherit !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  
  .mat-bottom-sheet-custom-container-large {
    min-width: 512px !important;
    max-width: 512px !important;
    overflow: inherit !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  
  .mat-bottom-sheet-custom-container-xlarge {
    min-width: 576px !important;
    max-width: 576px !important;
    overflow: inherit !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

@media (max-width: 992px) {
    .btn-block-max-md {
        display: flex;
        width: 100%;
    }
    input[type="submit"].btn-block-max-md, input[type="reset"].btn-block-max-md, input[type="button"].btn-block-max-md {
        width: 100%;
    }
    .btn-block+.btn-block-max-md, .btn-xs-block+.btn-block-max-md, .btn-xs-block+.btn-block-max-md {
        margin-top: 0.5rem;
    }
}

