/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.form-group {
    margin-bottom: 0; 
}

@media (max-width: 992px) {
    .btn-block-max-md {
        display: flex;
        width: 100%;
    }
    input[type="submit"].btn-block-max-md, input[type="reset"].btn-block-max-md, input[type="button"].btn-block-max-md {
        width: 100%;
    }
    .btn-block+.btn-block-max-md, .btn-xs-block+.btn-block-max-md, .btn-xs-block+.btn-block-max-md {
        margin-top: 0.5rem;
    }
}