<h5>فیلد ها</h5>
<mat-action-list>
  <button class="field-item" (click)="openTextModal()">
    <fa-icon [icon]="['fas','calendar']" [classes]="['w-100','mx-auto','x-large']"></fa-icon>
    <span>متن</span>
  </button>
  <button class="field-item">
    <fa-icon [icon]="['fas','calendar']" [classes]="['w-100','mx-auto','x-large']"></fa-icon>
    <span>انتخاب</span>
  </button>
  <button class="field-item">
    <fa-icon [icon]="['fas','calendar']" [classes]="['w-100','mx-auto','x-large']"></fa-icon>
    <span>تاریخ و زمان</span>
  </button>
  <button class="field-item">
    <fa-icon [icon]="['fas','calendar']" [classes]="['w-100','mx-auto','x-large']"></fa-icon>
    <span>فایل</span>
  </button>
</mat-action-list>